/*初始化*/
:root {
  font-size: calc(1vw + 1px);
}

/* 滚动条 */
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

/* 字体选中 */
::selection {
  background-color: #000;
  color: #fff;
}

body {	/*内外边距初始化*/
	margin: 0;
	padding: 0;
}

* {
  /* 所有盒子采用新盒子模型布局 */
  box-sizing: border-box;
}

ul {	/*取消列表样式*/
	list-style: none;
}

a {	/*取消链接下划线*/
	text-decoration-line: none;
}

/*图片对齐方式初始化*/
img {
	vertical-align: middle;
    /*或父元素添加
    font-size:0px;*/
    /*或者这样
    display: block;*/
}

/* 表单 */
input {
	outline: none;
}

textarea {
	resize: none;
  outline: none;
}