theme-c = #000000
theme-contrary = #fff
bgc = #fff
// 边框 分割线
br = #ccc

header-bgc = #f9f9f9
footer-bgc = #262a30
aside-bgc = #262a30

// 侧边栏、底部
text-color = #999
github = #fc6423

// 首页
index-intro = #666
index-line = #ccc

// form表单
value-color = #999
form-color-h = #fc6423
